<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  {{ partial "nav.html" . }}

  <!-- Page Header -->
  {{ block "header" .}}
  <header class="intro-header" style="background-image: url('{{ .Site.Params.header_image | relURL }}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>{{ .Site.Params.description }}</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  {{ end }}

  <div class="container">
    <div class="row">
      <!-- Main Content Area -->
      <div class="col-md-9">
        
        <!-- Home Page -->
        {{ if .IsHome }}
          {{ partial "home.html" . }}
        {{ end }}
        
        <!-- Side Quests Page -->
        {{ if eq .Type "sidequests" }}
          {{ partial "sidequests.html" . }}
        
        {{ else }}
        
        <!-- Default content for other pages -->
        {{ block "main" . }}{{ end }}
        {{ end }}
      </div>
      
      <!-- Sidebar Area -->
      <div>
        {{ partial "sidebar.html" . }} <!-- Sidebar for all pages -->
      </div>
    </div>
  </div>

  {{ partial "footer.html" . }}
</body>
</html>
